<ion-view>
	<ion-content overflow-scroll="true" delegate-handle="mainScroll" on-scroll="mainscrolling();">

		<div class="login-set">
			<img src="img/logo.png" class="img-responsive">
		</div>

		<div class="login-content">
			<div class="list login-user">
				<label class=" item-input item-select">
					<i class="icon ln-map-marker"></i>
                    <div class="input-label">
                        Выберете город
                    </div>
					<select id="city" ng-model="vm.city">
						<option ng-repeat="city in vm.cities" ng-init="!$index && (vm.city = $index)" value="{{$index}}">{{city}}</option>
					</select>
				</label>
				<label class=" item-input">
					<i class="icon ln-phone"></i>
                    <div class="input-label">
                        Номер телефона
                    </div>
					<input id="phone" class="text-right" type="number" placeholder="79091234567" ng-model="vm.phone" ng-disabled="vm.codeShow" ng-pattern="\d{11}">
				</label>
				<label class=" item-input" ng-if="vm.codeShow">
					<i class="icon ln-lock"></i>
                    <div class="input-label">
                        Введите код
                    </div>
					<input id="code" class="text-right" type="number" placeholder="******" ng-model="vm.code">
				</label>
			</div>
            <div ng-if="!vm.codeShow">
                <div  style="width: 304px; margin: 0 auto" fx-recaptcha></div>
            </div>

			<div class="login footer">
				<div class="login-btn btn-set">
					<a href="#" ng-hide="vm.codeShow" ng-click="$event.preventDefault(); vm.checkPhone() && vm.request()">
						<button class="button button-full button-block" ng-class="{'button-stable' : !vm.checkPhone(), 'button-positive' : vm.checkPhone()}">
							Получить код подтверждения
						</button>
					</a>
					<a href="#" ng-show="vm.codeShow" ng-click="$event.preventDefault(); vm.checkCode() && vm.confirm()">
						<button class="button button-full button-block" ng-class="{'button-stable' : !vm.checkCode(), 'button-positive' : vm.checkCode()}">
							Да, все верно
						</button>
					</a>
				</div>

				<div class="or text-center">
					<p>- OR -</p>
				</div>
				<div class="login-btn btn-set">

					<button  ng-click="facebooklogin()" class="button button-full button-positive-facebook button-block">
						Sign in With Facebook
					</button>

				</div>
				<div class="login-btn btn-set">

					<button ng-click="twitterlogin()" class="button button-full button-positive-twitter button-block">
						Sign in With Twitter
					</button>

				</div>
				<!--<div class="sign text-center">
					<span>Don’t have an account?<a href="#/user-signup">Sign Up</a></span>
				</div>-->

			</div>
		</div>

	</ion-content>
	<!--<ion-header-bar ng-if="inRole('Respondents')" class="bar-stable bar bar-header bar-assertive b-header b-login">

		<div class="buttons b-btn">
			<button class="b-btn__container" ng-click="vm.backToPrevState()">
				<svg class="b-btn__icon android-visible" version="1.1" x="0px" y="0px"
					 width="408px" height="408px" viewBox="0 0 408 408">
					<path d="M408,178.5H96.9L239.7,35.7L204,0L0,204l204,204l35.7-35.7L96.9,229.5H408V178.5z"/>
				</svg>
				<svg class="b-btn__icon ios-visible" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 		viewBox="0 0 31.494 31.494" style="enable-background:new 0 0 31.494 31.494;" xml:space="preserve">
				<path style="fill:#fff;" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
				  c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
				  c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
			</svg>
			</button>
		</div>

		<h1 class="h1 title title-left b-login__title">Авторизация</h1>

	</ion-header-bar>-->
	<!--<ion-content class="content b-login__content">

		<div class="b-login__form">

			<div class="b-login__block">
				<div class="b-login__logo b-login__logo_large">
					<img class="b-login__img" src="./img/logo-old.png" alt="" />
				</div>

				<div class="b-input-wraper mb-17">
					<select id="city" class="b-input-wraper__input fz-17" ng-model="vm.city" ng-class="{'md-valid' : vm.city}">
						<option ng-repeat="city in vm.cities" ng-value="$index">{{city}}</option>
					</select>
					<label for="city" class="b-input-wraper__label fz-17">Выберете свой город</label>
					<span class="b-input-wraper__line"
						  ng-class="{'b-input-wraper__line_active' : vm.name}"></span>
				</div>

				<div class="b-input-wraper login-page">
					<input  id="phone" type="number" class="b-input-wraper__input with-plus fz-20" ng-model="vm.phone"
							ng-class="{'md-valid' : vm.phone}" ng-focus="focus = true" ng-blur="focus = false"
							ng-disabled="vm.codeShow">
					<label for="phone" class="b-input-wraper__label fz-17">Введите свой номер телефона</label>
					<span class="b-input-wraper__line"
						  ng-class="{'b-input-wraper__line_active' : vm.phone}"></span>
					<span class="plus fz-17">+</span>
					&lt;!&ndash;<p class="b-input-wraper__tooltip">+7 номер телефона</p>&ndash;&gt;
				</div>

				<div class="m-8" ng-if="!vm.codeShow">
					<div fx-recaptcha></div>
				</div>

				<div class="b-input-wraper" ng-hide="vm.codeShow">
					<div class="b-checkbox login-page">
						<label class="b-checkbox__label" for="accepted">
							<input class="b-checkbox__input" id="accepted" type="checkbox" ng-model="vm.accepted"/>
							<span class="b-checkbox__item __p-no-right2">Согласен (-a) на обработку персональных данных</span>
						</label>
						<a href="https://armelle.world/soglasie_na_obrabotku_personalnyh_dannyh/" target="_blank">Просмотреть</a>
					</div>
				</div>

				<div class="b-input-wraper" ng-if="vm.codeShow">
					<input  id="code" type="number" class="b-input-wraper__input fz-20" ng-model="vm.code"
							ng-class="{'md-valid' : vm.code}">
					<label for="code" class="b-input-wraper__label fz-17">Введите код</label>
					<span class="b-input-wraper__line"
						  ng-class="{'b-input-wraper__line_active' : vm.code}"></span>
				</div>

				<div class="b-button-block" ng-if="vm.phone && vm.accepted && !vm.codeShow">
					<button class="button button-assertive b-button-block__button b-button-block__button_no-offset  b-button-block__button_large"
							ng-click="vm.request()">
						Получить код подтверждения
					</button>
				</div>

				<div class="b-button-block" ng-if="vm.phone && vm.codeShow && !vm.checkCode()">
					<button class="button b-button-block__button b-button-block__button_no-offset b-button-block__button_disabled b-button-block__button_large">
						Да, все верно
					</button>
				</div>

				<div class="b-button-block" ng-if="vm.phone && vm.codeShow && vm.checkCode()">
					<button class="button button-assertive b-button-block__button b-button-block__button_no-offset  b-button-block__button_large"
							ng-click="vm.confirm()">
						Да, все верно
					</button>
				</div>
			</div>

			&lt;!&ndash;
                    <div ng-if="!inRole('Respondents') && vm.allowAnonymous" class="b-input-wraper b-login__anonim_block" ng-hide="vm.codeShow || focus">
                        <a class="b-login__anonim_link" ng-click="vm.anonimAuth()">Продолжить без указания номера телефона ></a>
                        <p class="b-login__anonim_text">(некоторые возможности приложения могут быть недоступны)</p>
                    </div>&ndash;&gt;
		</div>

	</ion-content>-->
</ion-view>

