<ion-view>
	<ion-content style="top:0px" overflow-scroll="false" delegate-handle="mainScroll" on-scroll="mainscrolling();">

		<div class="about-set">
			<div class="map-set">
				<h2 class="title-c">О приложении</h2>
			</div>
		</div>

		<div class="about-us">
			<h3>"Сделать обучение мастеров красоты доступнее"</h3>
			<p>
				Мобильное приложение “bpb” создано для мастеров индустрии красоты с целью повышения уровня профобразования парикмахерского искусства . С помощью приложения мастера будут иметь возможность оставлять предзаказы на желаемые семинары у  преподавателей-Спикеров, которых сами выберут . Организаторы опираясь на их мнение, будут приглашать Спикеров для проведения  курсов повышения квалификации . А также видеть афишу семинаров проходящих в их городе с подробным описанием. Получать скидки и онлайн бронировать билеты .
			</p>
			<!--<div class="know-content addanimation" ng-class="showDetails">
				<p class="moretext moreabout">
					Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа направлений прогрессивного развития. С другой стороны укрепление и развитие структуры позволяет оценить значение новых предложений. С другой стороны сложившаяся структура организации способствует подготовки и реализации новых предложений. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют от нас анализа форм развития.
				</p>
			</div>
			<div class="know-more know-btn" ng-click="showmore('moreabout');">
				{{moredetails}}
			</div>-->
		</div>

	</ion-content>
</ion-view>