<ion-header-bar class="bar-stable bar bar-header bar-assertive b-header start">



	<div class="buttons">
		<button class="button button-icon icon ion-navicon android-visible" ng-click="toggleLeft()"></button>
	</div>

	<h1 class="h1 title title-left">BPB</h1>

	<!-- <button class="button button-assertive icon-left ion-android-mail b-header__btn">
		3
	</button> -->

</ion-header-bar>

<ion-content has-bouncing="false" scroll="false" class="content">

	<div class="b-category__wrap b-category__wrap_include">

		<div class="b-category__card" ng-repeat="event in vm.events | orderBy : 'endDate'"
			 ui-sref="app.main.product({id : product.id})">

			<div class="b-category__picture-wrap">
				<img class="b-category__picture" ng-src="{{event.img}}" type="goods"/>
			</div>

			<div class="b-category__main-info">
				<div class="b-category__title">
					{{event.title}}
				</div>
				<div class="b-category__price">
					{{event.price}}
				</div>
				<div class="b-category__desk" ng-bind-html="event.description">
				</div>
			</div>
		</div>

		<div ng-if="!vm.events.length">
			<div class="card b-card-tab__catalog b-category-goods">
				<div class="b-category-goods__title" >
					По Этой категории пока нет мероприятий
				</div>
			</div>
		</div>

	</div>

</ion-content>

<bottom-bar></bottom-bar>
