<ion-view>

	<div class="bar bar-header bar-positive">
		<h1 class="title">Семинары</h1>
	</div>

	<ion-content overflow-scroll="false">

		<div class="popular">

			<div class="popular-set" collection-repeat="event in vm.events | orderBy : 'endDate'">
				<a href="#/event/{{event.id}}" >
					<figure>
						<img ng-src="{{event.img}}" alt="{{event.title}}" class="full-image">
						<div class="layer">
							<figcaption class="blog-name">{{event.title}}</figcaption>
						</div>
					</figure>
				</a>
			</div>

		</div>

	</ion-content>
</ion-view>
