<ion-header-bar class="bar-stable bar bar-header bar-assertive b-header start">

	<div class="buttons">
		<button class="button button-icon icon ion-navicon android-visible" ng-click="toggleLeft()"></button>
	</div>

	<h1 class="h1 title title-left">Armelle Online</h1>

	<!-- <button class="button button-assertive icon-left ion-android-mail b-header__btn">
		3
	</button> -->

</ion-header-bar>

<ion-content has-bouncing="false" scroll="false" class="content start-page">

	<div class="card b-card-tab b-card-tab_welcome">
		<div class="b-card-tab__title b-card-tab__title_welcome">
			ПОДБОР АРОМАТА
		</div>
		<div class="b-card-tab__text b-card-tab__text_left" ng-if="vm.welcome">
			Узнайте какие ароматы подходят именно вам!<br />
			Чтобы пользоваться полными возможностями приложения, <a ui-sref="app.login.dist">авторизуйтесь</a>, либо <a ui-sref="app.login.consul">впишите номер вашего консультанта</a>.
		</div>
		<div class="b-card-tab__text b-card-tab__text_left" ng-if="!vm.welcome">
			Ответьте на вопросы простой анкеты и узнайте какие ароматы подходят именно вам!
		</div>
	</div>

	<div class="card b-card-tab b-card-tab_aromat-bg p-rel">
		<a ui-sref="app.main.test">
			<span class="b-card-tab__title all_block">
				Подбор <br /> Аромата
		    </span>
		    <span class="b-card-tab__link" >
				Подробнее
		    </span>
        </a>
	</div>

	<div class="card b-card-tab b-card-tab_surveys-bg p-rel">
		<a ui-sref="{{inRole('Respondents') ? 'app.main.history' : 'app.main.result'}}">
			<span class="b-card-tab__title all_block">
				История <br /> Подборов
		    </span>
		    <span class="b-card-tab__link" >
				Подробнее
		    </span>
        </a>
	</div>

</ion-content>

<bottom-bar></bottom-bar>
