<ion-view>
	<ion-content style="top:0px" overflow-scroll="true" delegate-handle="mainScroll" on-scroll="mainscrolling();">

		<div class="user-imgs">
			<figure ng-show="vm.master">
				<img ng-src="{{vm.master.avatar}}" ng-if="vm.master.avatar!=0">
				<figcaption>{{vm.master.fio}}</figcaption>
			</figure>
		</div>
		<div class="artical-set" style="background-image: url({{vm.event.img}})">
			<div class="map-set">
				<h2 class="title-c">О мероприятии</h2>
			</div>

		</div>

		<div class="articalcontent">
			<div class="art-date">
				<p>{{vm.event.dateStart | date:"dd MMM yyyy"}}<span ng-if="vm.event.dateStart != vm.event.dateEnd"> - {{vm.event.dateEnd | date:"dd MMM yyyy"}}</span></p>
			</div>
			<div class="articals-det">
				<h3>"{{vm.event.title}}"</h3>
				<p ng-bind-html="vm.event.description | rawHtml"></p>
			</div>
			<div class="gallery-img" ng-if="newgallery">
				<div class="row" ng-repeat="pair in newgallery">
					<div class="col col-50" ng-click="openModal(photo.id);" ng-repeat="photo in pair">
						<figure class="image-set">
							<img ng-src="{{photo.source}}" class="full-image">
						</figure>
					</div>
				</div>
			</div>

			<div class="articals-det">
				<h4>Расписание мероприятия:</h4>
				<p ng-bind-html="vm.event.schedule | rawHtml"></p>
			</div>
			<div class="articals-det">
				<h4>Цена:</h4>
				<p ng-repeat="price in vm.event.prices">{{price.title}} - <strong>{{price.cost}} руб</strong></p>
			</div>
			<div class="articals-det">
				<h4>Адрес мероприятия:</h4>
				<p>г. {{vm.city}}, {{vm.event.address}}</p>
				<div ng-if="vm.event.marker" style="width:100%; height:250px">
					<ya-map ya-zoom="15" ya-center="{{ vm.event.map }}" ya-controls="" style="width:100%; height:250px;display: block;">
						<ya-collection ya-options="{preset:'islands#redStretchyIcon',balloonMaxWidth:250}">
							<ya-geo-object ya-source="vm.event.marker"></ya-geo-object>
						</ya-collection>
					</ya-map>
				</div>
			</div>
			<div class="btn-set" ng-show="!vm.allowOrder">
				<button ng-click="vm.sendRequest()" class="button button-full button-positive button-block">
					Хочу посетить семинар
				</button>
			</div>
		</div>

	</ion-content>
</ion-view>
