<ion-header-bar class="bar-stable bar bar-header bar-assertive b-header b-result">

	<div class="buttons b-btn hideOnSearchInput">
		<button class="b-btn__container" ng-click="vm.backToPrevState()">
      <svg class="b-btn__icon android-visible" version="1.1" x="0px" y="0px"
           width="408px" height="408px" viewBox="0 0 408 408">
        <path d="M408,178.5H96.9L239.7,35.7L204,0L0,204l204,204l35.7-35.7L96.9,229.5H408V178.5z"/>
      </svg>
      <svg class="b-btn__icon ios-visible" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 31.494 31.494" style="enable-background:new 0 0 31.494 31.494;" xml:space="preserve">
        <path style="fill:#fff;" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
          c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
          c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        </svg>
		</button>
	</div>

	<h1 class="h1 title title-left b-result__title">{{vm.title}}</h1>

	<div class="buttons b-btn b-btn__slide-input-wrap android-visible">

		<button class="b-btn__container b-btn__container_row" ng-click="$root.showToolbarNav()">
			<i class="b-btn__icon b-btn__icon_ionic ion-more"></i>
		</button>
	</div>

</ion-header-bar>

<ion-content class="content b-product">

  <div class="b-product__flex">
    <div class="b-product__item left">
      <div class="b-product__picture-block">
        <div class="b-product__picture-wrap">
          <img class="b-product__picture"
               fx-goods-image="{{vm.product.id}}" alt="" />
        </div>
      </div>
      <div class="b-product__row b-product__row_between center-sm bb-sm">

        <div class="b-product__column w-75 hidden-sm">

          <div class="b-product__label">{{vm.product.name}}</div>

          <div class="b-product__category">
            {{vm.product.category_name}}<span ng-if="vm.product.volume">, {{vm.product.volume}}</span>
          </div>

        </div>

        <div class="b-product__price">
          {{vm.product.price | currencies}}
        </div>

      </div>
      <div class="b-product__row" ng-if="vm.product.family_id || vm.product.style_id || vm.product.character_id">

        <div class="b-product__column">

          <div class="b-product__row b-product__row_full b-product__row_inner" ng-if="vm.product.family_id">

            <div class="b-product__tabs" ng-init="vm.getIcons('aroma_families',vm.product.family_id)">

              <div class="b-product__tab b-product__tab_accent"
                   ng-repeat="icon in vm.icons['aroma_families']">
                <img class="b-product__tab"
                     ng-src="./img/tumb/{{icon}}.png" alt="" />
              </div>

            </div>

            <div class="b-product__tabs-desk">

              <div class="b-product__sub-title b-product__sub-title_inverse">Семейство ароматов</div>

              <div class="b-product__text b-product__text_inverse">
                {{vm.product.family_id | dictionary : 'aroma_families'}}
              </div>

            </div>

          </div>

          <div class="b-product__row b-product__row_full b-product__row_inner" ng-if="vm.product.style_id">

            <div class="b-product__tabs" ng-init="vm.getIcons('aroma_styles',vm.product.style_id)">

              <div class="b-product__tab"
                   ng-repeat="icon in vm.icons['aroma_styles']">
                <img class="b-product__tab"
                     ng-src="./img/tumb/{{icon}}.png" alt="" />
              </div>

            </div>

            <div class="b-product__tabs-desk" ng-if="vm.product.style_id">

              <div class="b-product__sub-title b-product__sub-title_inverse">Стиль аромата</div>

              <div class="b-product__text b-product__text_inverse">
                {{vm.product.style_id | dictionary : 'aroma_styles'}}
              </div>

            </div>

          </div>

          <div class="b-product__row b-product__row_full b-product__row_inner" ng-if="vm.product.character_id">

            <div class="b-product__tabs"
                 ng-init="vm.getIcons('aroma_characters',vm.product.character_id)">

              <div class="b-product__tab"
                   ng-repeat="icon in vm.icons['aroma_characters']">
                <img class="b-product__tab"
                     ng-src="./img/tumb/{{icon}}.png" alt="" />
              </div>

            </div>

            <div class="b-product__tabs-desk">

              <div class="b-product__sub-title b-product__sub-title_inverse">Характер аромата</div>

              <div class="b-product__text b-product__text_inverse">
                {{vm.product.character_id | dictionary : 'aroma_characters'}}
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>



    <div class="b-product__item right">
      <div class="b-product__row b-product__row_between hidden-xs">

        <div class="b-product__column w-75">

          <div class="b-product__label">{{vm.product.name}}</div>

          <div class="b-product__category">
            {{vm.product.category_name}}<span ng-if="vm.product.volume">, {{vm.product.volume}}</span>
          </div>

        </div>

        <div class="b-product__price hidden-sm">
          {{vm.product.price | currencies}}
        </div>

      </div>
      <div class="b-product__row"
           ng-if="vm.product.top_notes || vm.product.heart_notes || vm.product.plume_notes">

        <div class="b-product__column">

          <div class="b-product__title" ng-class="{'b-product__title_open' : vm.showNote }">НОТЫ АРОМАТА</div>

          <div class="b-product__column">

            <div class="b-product__text" ng-if="vm.product.top_notes">
              <div class="b-product__sub-title">Верхние ноты:</div>
              {{vm.product.top_notes}}
            </div>

            <div class="b-product__text" ng-if="vm.product.heart_notes">
              <div class="b-product__sub-title">Ноты сердца:</div>
              {{vm.product.heart_notes}}
            </div>

            <div class="b-product__text" ng-if="vm.product.plume_notes">
              <div class="b-product__sub-title">Шлейфовые ноты:</div>
              {{vm.product.plume_notes}}
            </div>

          </div>

          <!--<div class="b-product__slide-toggle hidden-sm">
            <i class="b-product__slide-toggle-icon ion-icon"
               ng-class="{'ion-arrow-down-b' : !vm.showNote, 'ion-arrow-up-b' : vm.showNote }"></i>
          </div>-->

        </div>

      </div>
      <div class="b-product__row">

        <div class="b-product__column">

          <div class="b-product__title">ОПИСАНИЕ</div>

          <div class="b-product__text" ng-bind-html="vm.product.description">
          </div>

        </div>

      </div>
      <div class="b-product__row">
        <div class="b-button-block">
          <button class="button button-assertive b-button-block__button b-button-block__button_large"
                  ng-click="vm.buyRequest()" ng-if="inRole('WithConsultant') && connection()">
            ЗАКАЗАТЬ
          </button>
        </div>
      </div>
    </div>
  </div>








</ion-content>
