<ion-view>
	<ion-content style="top:0px" overflow-scroll="false" delegate-handle="mainScroll" on-scroll="mainscrolling();">

		<div class="contact-set">
			<div class="map-set">

				<h2 class="title-b">Организатор</h2>
				<div class="tab-set">
					<p>
						<a class="map {{tab =='form-set' && 'map-active'}}" ng-click="tab = 'form-set'">НАПИСАТЬ</a>
						<span class="map-form {{tab =='contact-map' && 'map-active'}}" ng-click="tab = 'contact-map'">НА КАРТЕ</span>
					</p>
				</div>
			</div>
		</div>

		<div class="contact-form-set" ng-show="tab=='form-set'">
			<form name="contactForm" class="contact-form">
				<div class="list login-user">
					<label class=" item-input">
						<i class="icon ln-user"></i>
						<input type="text" required placeholder="Имя*" ng-model="vm.name">
					</label>
					<label class=" item-input">
						<i class="icon ln-envelope"></i>
						<input type="email" required placeholder="Email*" ng-model="vm.email">
					</label>
					<label class=" item-input">
						<i class="icon ln-book-closed"></i>
						<input type="text" placeholder="Тема" ng-model="vm.subject">
					</label>
					<label class="item-input">
						<i class="icon ln-comments"></i>
						<textarea required placeholder="Сообщение*" ng-model="vm.msg"></textarea>
					</label>
				</div>
			</form>
			<div class="signin footer">

				<div class="login-btn btn-set">
					<button ng-click="send()" class="button button-full button-block" ng-class="{'button-stable' : contactForm.$invalid || contactForm.$pristine, 'button-positive' : contactForm.$valid && contactForm.$dirty}">
						Отправить сообщение
					</button>
				</div>
			</div>
		</div>

		<div class="contact-map" ng-show="tab=='contact-map'">
			<h4>Как добраться</h4>
			<p class="text-center">г. {{vm.city}}, {{vm.address}}</p>
			<div ng-if="vm.marker" style="width:100%; height:400px">
				<ya-map ya-zoom="15" ya-center="{{ vm.map }}" ya-controls="" style="width:100%; height:400px;display: block;">
					<ya-collection ya-options="{preset:'islands#redStretchyIcon',balloonMaxWidth:250}">
						<ya-geo-object ya-source="vm.marker"></ya-geo-object>
					</ya-collection>
				</ya-map>
			</div>
		</div>

	</ion-content>
</ion-view>
