	<div class="b-test__body b-test__body_init-page">

		<div class="card b-card-tab b-card-tab_height b-card-tab_cream-bg b-card-tab_overflow">

			<div class="b-card-tab__picture-wrap b-card-tab__picture-wrap_round b-card-tab__picture-wrap_left b-card-tab__picture-wrap_offset">
				<img class="b-card-tab__picture" src="./img/sidebar/userSidebarCover.png" alt="" />
			</div>

			<div class="b-card-tab__text b-card-tab__text_test-card">
				«Духи - главное в вашем образе. Это - автограф личности. Мы подберем Вам идеальный парфюмерный гардероб. Просто ответьте на несколько вопросов!»
			</div>

			<div class="b-card-tab__quote b-card-tab__quote_right">
				С любовью, Armelle
			</div>

		</div>

		<div class="b-test__login-form">
      <div class="b-test__login-title">Расскажите о себе</div>
			<div class="b-input-wraper b-input-wraper_small-margin">
				<input  id="fio" type="text" class="b-input-wraper__input fz-17" ng-model="vm.fio"
						ng-class="{'md-valid' : vm.fio}">
				<label for="fio" class="b-input-wraper__label fz-17">Ваше имя</label>
				<span class="b-input-wraper__line"></span>
			</div>

			<div class="b-test__checkbox">
				<label class="b-test__checkbox-label" for="man">
					<input  class="b-checkbox__input b-test__input" id="man" type="radio"
							ng-model="vm.selectGender" value="man" />
					<span class="b-test__checkbox-item fz-17">Мужской
						<span class="b-test__checkbox-swg b-test__checkbox-swg_before">
							<svg version="1.1" x="0px" y="0px" viewBox="0 0 716 716">
								<path d="M619.4,44.7H508.1v52h74.6l-97.9,97.9c-99.9-81.3-248.3-75.5-341.3,17.4c-99.2,99.2-99.2,261.5,0,360.6 c99.2,99.2,261.5,99.2,360.6,0c93-93,98.8-241.4,17.4-341.3l97.9-97.9V208h52V96.7v-52H619.4z M468,536.6 c-79.3,79.3-209.2,79.3-288.5,0s-79.3-209.2,0-288.5s209.2-79.3,288.5,0C547.3,327.4,547.3,457.3,468,536.6z"/>
							</svg>
						</span>
						<span class="b-test__checkbox-swg b-test__checkbox-swg_after">
							<svg version="1.1" x="0px" y="0px" viewBox="0 0 716 716">
								<path d="M233.6,302.2c-50.5,50.5-50.5,129.8,0,180.3c50.5,50.5,129.8,50.5,180.3,0c50.5-50.5,50.5-129.8,0-180.3 C363.4,251.7,284.1,251.7,233.6,302.2z"/>
								<path d="M619.4,44.7H508.1v52h74.6l-97.9,97.9c-99.9-81.3-248.3-75.5-341.3,17.4c-99.2,99.2-99.2,261.5,0,360.6 c99.2,99.2,261.5,99.2,360.6,0c93-93,98.8-241.4,17.4-341.3l97.9-97.9V208h52V96.7v-52H619.4z M468,536.6 c-79.3,79.3-209.2,79.3-288.5,0s-79.3-209.2,0-288.5s209.2-79.3,288.5,0C547.3,327.4,547.3,457.3,468,536.6z"/>
							</svg>
						</span>
					</span>
				</label>
				<label class="b-test__checkbox-label" for="woman">
					<input  class="b-checkbox__input b-test__input" id="woman" type="radio"
							ng-model="vm.selectGender" value="woman" />
					<span class="b-test__checkbox-item fz-17">Женский
						<span class="b-test__checkbox-swg b-test__checkbox-swg_woman b-test__checkbox-swg_before">
							<svg version="1.1" x="0px" y="0px" viewBox="0 0 716 716">
								<path d="M613,258C613,117.8,498.3,3,358,3S103,117.8,103,258c0,131.5,100.8,240.5,229,253.7V591h-79.4v52H332v69.4h52V643h79.4v-52 H384v-79.3C512.2,498.5,613,389.5,613,258z M154,258c0-112.2,91.8-204,204-204s204,91.8,204,204s-91.8,204-204,204 S154,370.2,154,258z"/>
							</svg>
						</span>
						<span class="b-test__checkbox-swg b-test__checkbox-swg_woman b-test__checkbox-swg_after">
							<svg version="1.1" x="0px" y="0px" viewBox="0 0 716 716">
								<path d="M485.5,259c0-71.4-56.1-127.5-127.5-127.5S230.5,187.6,230.5,259S286.6,386.5,358,386.5S485.5,330.4,485.5,259z"/>
								<path d="M613,259C613,118.8,498.3,4,358,4S103,118.8,103,259c0,131.5,100.8,240.5,229,253.7V592h-79.4v52H332v69.4h52V644h79.4v-52 H384v-79.3C512.2,499.5,613,390.5,613,259z M154,259c0-112.2,91.8-204,204-204s204,91.8,204,204s-91.8,204-204,204 S154,371.2,154,259z"/>
							</svg>
						</span>
					</span>

				</label>
			</div>

			<div class="b-input-wraper">
				<input  id="date" type="text" class="b-input-wraper__input fz-17"
						ng-model='vm.maskDate' ng-focus="vm.dateFocus($event)"
						ng-class="{'md-valid' : vm.maskDate}" />
				<label for="date" class="b-input-wraper__label fz-17">Ваша дата рождения</label>
				<span class="b-input-wraper__line"></span>
			</div>

			<div class="b-input-wraper b-input-wraper_small-margin">
				<input  id="login" type="number" class="b-input-wraper__input with-plus fz-17"
						ng-model="vm.phone"
						ng-class="{'md-valid' : vm.phone}">
				<label for="login" class="b-input-wraper__label fz-17">Ваш телефон</label>
				<span class="b-input-wraper__line"></span>
				<span class="plus fz-17">+</span>
			</div>

		</div>

		<div class="b-test__btn-wrap">
			<button class="button button-assertive b-test__btn"
					ng-disabled="!vm.selectGender || !vm.fio"
					ng-click="vm.setTest($event)">
			 	Продолжить
			</button>
		</div>

	</div>
