<div class="b-test__number-of-quest">
	{{vm.page + 1}} вопрос из 9
</div>

<div class="b-test__picture">
	<img class="b-test__img" ng-src="./img/test/{{vm.selectGender}}{{vm.page+1}}.jpg" alt="">
</div>

<div class="b-test__subtitle">
	{{vm.questions[vm.page].title}}
</div>

<div class="b-test__checkbox b-test__checkbox_row">
	<label  class="b-test__checkbox-label b-test__checkbox-label_large b-test__checkbox-label_border-bottom" 
			for="{{$index}}"
			ng-repeat="item in vm.questions[vm.page].varius track by $index">
		<input  class="b-checkbox__input b-test__input" id="{{$index}}" type="radio" 
				ng-model="vm.selected" value="{{$index}}" />
		<span class="b-test__checkbox-item b-test__checkbox-item_offset">{{item}}
			<span class="b-test__checkbox-swg b-test__checkbox-swg_radio b-test__checkbox-swg_before">
				<svg version="1.1" x="0px" y="0px" viewBox="-42 165.9 510 510">
					<path d="M213,165.9c-140.3,0-255,114.8-255,255s114.8,255,255,255s255-114.8,255-255S353.3,165.9,213,165.9z M213,624.9 c-112.2,0-204-91.8-204-204s91.8-204,204-204s204,91.8,204,204S325.2,624.9,213,624.9z"/>
				</svg>
			</span>
			<span class="b-test__checkbox-swg b-test__checkbox-swg_radio b-test__checkbox-swg_after">
				<svg version="1.1" x="0px" y="0px" viewBox="-42 165.9 510 510">
					<path d="M213,293.4c-71.4,0-127.5,56.1-127.5,127.5S141.6,548.4,213,548.4s127.5-56.1,127.5-127.5S284.4,293.4,213,293.4z M213,165.9c-140.3,0-255,114.8-255,255s114.8,255,255,255s255-114.8,255-255S353.3,165.9,213,165.9z M213,624.9 c-112.2,0-204-91.8-204-204s91.8-204,204-204s204,91.8,204,204S325.2,624.9,213,624.9z"/>
				</svg>
			</span>
		</span>
	</label>
</div>

<div class="b-test__pagination">
	
	<div class="b-test__pagination-btn" ng-click="vm.scrollTop(); vm.page != 0 ? vm.page = vm.page-1 : false ">
		<i class="b-test__pagination-btn-icon ion-icon ion-chevron-left"
			ng-class="{'b-test__pagination-btn-icon_disabled' : vm.page == 0 }"></i>
		Назад
	</div>

	<div class="b-test__pagination-progress">
		
		<div class="b-test__pagination-progress-bar">
			<div class="b-test__pagination-progress-bar-full"
					ng-style="{'width' : (vm.page+1)*100/vm.pages + '%' }"></div>
		</div>

	</div>

	<div class="b-test__pagination-btn b-test__pagination-btn_accent" 
		 ng-if="vm.page + 1 != vm.pages"
		 ng-click="vm.scrollTop(); vm.selected ? vm.page = vm.page + 1 : false; vm.container.push(vm.selected); vm.selected = false;">
		Вперед
		<i class="b-test__pagination-btn-icon ion-icon ion-chevron-right"></i>
	</div>

	<div class="b-test__pagination-btn b-test__pagination-btn_accent" 
		 ng-if="vm.page + 1 == vm.pages"
		 ng-click="vm.scrollTop(); vm.endOfTest(vm.container.push(vm.selected))">
		Закончить
	</div>

</div>